body {
  font-family: 'Cabin', sans-serif;
  font-weight: 700;
}

.container-fluid {
  background: linear-gradient(rgba(53, 53, 53, 0.73), rgba(238, 238, 238, 0.521)), 
              url('/images/dyu-ha-ltfeKRmI-8k-unsplash.jpg') center no-repeat;
  background-size: cover;
}

.main-content {
  display: flex;
  flex-direction: column;
  /* align-content: space-around; */
}

.modalo {
  position: fixed;
  top: 5rem;
  background: white;
}

.modalo-container {
  display: none;
  background: rgba(48, 48, 48, 0.76);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top:0;
  z-index: 2;
  justify-content: center;
}

.modalo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  justify-content: space-evenly;
  margin: 0 auto;
}

.modalo-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 10rem;
  justify-content: space-evenly;
}

.modalo-body .comp-score {
  font-size: 2.2rem;
}

.modalo-body .comp-message {
  font-size: 1.2rem;
}

.close {
  position: fixed;
  right: 2.8rem;
  top: 8.8rem;
}

.loader {
  display: none;
  position: absolute;
  top: 0rem;
  left: 0rem;
  background: rgba(235, 235, 235, 0.829);
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 8rem;
}

